apiVersion: apps/v1
kind: Deployment
metadata:
  name: devcalc-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devcalc
  template:
    metadata:
      labels:
        app: devcalc
    spec:
      containers:
        - name: devcalc-container
          image: pdroinfnet/devcalc_api_tp1:latest
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 30
            timeoutSeconds: 3
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 15
            timeoutSeconds: 3