name: docker-push.yml

on:
  push:
    branches: [ "main"]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: login Docker HUb
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: config docker buildx
        uses: docker/setup-buildx-action@v3

      - name: build e push da imagem
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: | 
            ${{ secrets.DOCKERHUB_USERNAME }}/devcalc_api:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/devcalc_api:${{ github.sha }}